{% extends 'base.html' %}

{% block body %}
<h3>Mus seka jau du mėnesiai... {{ event.event_date }}</h3> <br>
<ul class="list-group">
    <li class="list-group-item fs-5"> {{ event.event_text }} <br>
        <hr>
        <a href="/post/{{ event.id }}/modify" class="btn btn-outline-secondary btn-sm" type="button">Redaguoti</a>
        <a href="/posts" class="btn btn-outline-secondary btn-sm" type="button">Į sąrašą</a>
        <a href="/post/{{ event.id }}/delete" class="btn btn-outline-danger btn-sm" type="button">Pašalinti</a>
    </li>
</ul>
{% endblock %}